body
{
  overflow: hidden;
  background-color: #EDECE8;
  font-family: 'Ubuntu';
}

h1
{
  color: #252422;
  padding: 20px 10px 10px 10px;
}

h1.index
{
  padding: 0px 0px 0px 0px;
  font-size: 55px;
}

p
{
  color:#403d39;
  text-align: center;
}

img
{
  width: 100%;
  height: 100%;
}

.app-content .container-fluid
{
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn
{
  width: 150px;
}

.btn-dark
{
  color: #FFFCF2 !important;
  background-color: #eb5e28 !important;
  border: 2px solid #E04E15 !important;
}

.btn-primary
{
  color: #FFFCF2 !important;
  background-color: #eb5e28 !important;
  border: 2px solid #E04E15 !important;
}

.btn-secondary
{
  color: #FFFCF2 !important;
  background-color: #F18F01 !important;
  border: 2px solid #CB7A01 !important;
}

#button-main.container-fluid
{
  position: absolute;
  bottom: 10px;
}

#button-marker.container-fluid
{
  position: absolute;
  padding: 10px;
  top: 50%;
}

#button-loc.container-fluid
{
  position: absolute;
  padding: 10px;
  top: 60%;
}
